@model ML.Estadistica
<!DOCTYPE html>
<html>
<body>
    <style>
        #map {
            height: 350px;
            width: 50%;
        }
    </style>
    <div class="row">
        <div class="col-md-6">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </div>
        <div class="col-md-6">
            <h1 class="text-center"> Cines</h1>
            <div id="map" style="width: 500px; height: 300px; left: 100px;"></div>
        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap&libraries=&v=weekly&sensor=false" defer></script>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                title: {
                    text: "Grafica"
                },
                animationEnabled: true,
                data: [
                    {
                        type: "pie",
                        startAngle: 40,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}%",
                        dataPoints: [
                            { y: @Model.Promedio1, label: "Zona Norte" },
                            { y: @Model.Promedio2, label: "Zona Sur" },
                            { y: @Model.Promedio3, label: "Zona Este" },
                            { y: @Model.Promedio4, label: "Zona Oeste" }
                        ]
                    }
                ]
            });
            chart.render();
        }
        function initMap() {
            if ($("#txtLatitud").val() == 0 && $("#txtLongitud").val() == 0) {
                myLatlng = { lat: 19.59761, lng: -99.18054 };
            } else {
                myLatlng = { lat: 19.59761, lng: -99.18054 };
            }
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: myLatlng,
            });
             
        }  
    </script>

</body>
</html>
